body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #1E1E1E;
}

#cabecalho{
    color: white;
    font-family: 'Roboto', sans-serif ;
    font-weight: 400px;
    font-size: 64px;
    line-height: 75px;

    position: absolute;
width: 328px;
height: 75px;
left: 360px;
top: 80px;
}
#ponto{

    position: absolute;
    width: 16px;
    height: 16px;
    left: 710px;
    top: 126px;
    border-radius: 90%;
    background: #0073B0;
}
#imagem img{
    position: absolute;
    width: 676px;
    height: 576.48px;
    left: 360px;
    top: 224px;  
}
#area-login{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    width: 520px;
    height: 520px;
    left: 1070px;
    top: 248px;
    
    background: #F9F9FB;
    border-radius: 4px;
    }
    .login{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 30px;
        font-style: normal;
        text-align: center;
        font-size: 40px;
        font-weight: 600px;
        line-height: 47px;
        color: #000;
    }
    input, .botao{ 
        padding: 9px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin: 30px auto;
        background: rgba(113, 128, 185, 0.32);
        border-radius: 4px;
        width: 400px;
        height: 48px;
        left: 840px;
        top: 400px;
    }
    .botao{
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        margin: auto;
        padding: auto;
        background: #7180B9;
    }

    .cart{
        position: relative;
        right: 450px;
        top: 10px;
    }

    hr{
        position: absolute;
        width: 124px;
        height: 0px;
        left: 1270px;
        top: 616px;
    
        border: 2px solid rgba(0, 0, 0, 0.32);}
        h3{
            position: absolute;
            width: 127px;
            height: 24px;
            left: 1135px;
            top: 643px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
        }
        .github{
            font-size: 20px;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 16px;
            gap: 16px;
            position: absolute;
            width: 244px;
            height: 48px;
            left: 1300px;
            top: 648px;
            background: #7180B9;
            border-radius: 4px;
        }